.DS_Store

# For PCBs designed using KiCad: https://www.kicad.org/
# Format documentation: https://kicad.org/help/file-formats/

hardware/**/*.000
hardware/**/*.bak
hardware/**/*.bck
hardware/**/*.kicad_pcb-bak
hardware/**/*.kicad_sch-bak
hardware/**/*-backups
hardware/**/*.kicad_prl
hardware/**/*.sch-bak
hardware/**/*~
hardware/**/_autosave-*
hardware/**/*.tmp
hardware/**/*-save.pro
hardware/**/*-save.kicad_pcb
hardware/**/fp-info-cache
hardware/**/*.net
hardware/**/*.dsn
hardware/**/*.ses
hardware/**/production/backups/

build/
.cache/
