BasedOnStyle: llvm
AccessModifierOffset: -4
AlignEscapedNewlinesLeft: true
AlignOperands: true
AllowShortFunctionsOnASingleLine: Empty
AlwaysBreakTemplateDeclarations: true
BinPackParameters: false
BinPackArguments: true
BreakBeforeBinaryOperators: NonAssignment
ConstructorInitializerAllOnOneLineOrOnePerLine: true
ConstructorInitializerIndentWidth: 8
ContinuationIndentWidth: 8
Cpp11BracedListStyle: false
IndentWidth: 4
PenaltyBreakBeforeFirstCallParameter: 40
SpaceAfterCStyleCast: true
IndentPPDirectives: AfterHash
ExperimentalAutoDetectBinPacking: true
